@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

.menu-box {
  background: url("./Menu.jpg") no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 85%;
  width: 100%;
  position: relative;
  font-size: 62.5%;
  font-family: "Walter Turncoat", cursive;
}
.box {
  height: 55%;
  width: 34%;
  position: absolute;
  top: 28%;
  left: 32%;
  font-weight: 800;
  font-size: 0.9rem;
  color: black;
  /* background-color: antiquewhite; */
  text-align: center;
}

.left {
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .menu-box {
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2%;
  }

  .box {
    font-size: 0.9rem;
    height: 50%;
  }
}
