.student-card-heading {
    font-size: 2em;
    font-weight: 400;
    font-family: 'Open Sans';
}

.student-card-heading::after {
    width: 70%;
    height: 2px;
    content: "";
    display: block;
    position: relative;
    top: 8px;
    background-color: rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0);
}

@media only screen and (max-width: 900px) {
    .student-card-heading {
        font-size: 1.75em;
        font-weight: 400;
        /* color: rgba(0, 0, 0, 0.7); */
    }   
}

/* absence component styles */

.absence__tiptext {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.absence__form {
    position: absolute;
    width: 95%;
    /* border: solid; */
    top: calc(100% - 100px);
}

.absence__form > select {
    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 0.9);
    border: solid 2px rgba(255, 255, 255, 0.6);
    padding: 8px;
    width: calc(100% - 120px);
    min-width: max-content;
    font-size: 18px;
    border-radius: 12px;
    outline: none;
}

.absence__form .lni-chevron-right {
    position: relative;
    background-color: rgba(var(--accent), 0.9);
    color: white;
    border-radius: 50%;
    padding: 14px;
    font-size: 14px;
    top: -2px;
}

@media only screen and (max-width: 1050px)
{
    .absence__form {
        position: relative;
        width: 100%;
        /* background-color: #fff; */
        margin-top: 80px;
    }

    .absence__form > select {
        font-size: 16px;
        min-width: calc(100% - 70px);
    }

    .absence__form .lni-chevron-right {
        font-size: 14px;
        padding: 10px;
    }
}
/* absence component styles END */

/* feedback component styles */


.feedback__form .MuiRating-sizeLarge {
    margin-top: 14px;
    font-size: 40px !important;
    /* color: white !important; */
}

.feedback__form > textarea {
    display: block;
    background-color: rgba(0,0,0,0.5);
    color: rgba(255, 255, 255, 1);
    border: solid 2px rgba(255, 255, 255, 0.6);
    padding: 12px;
    height: 60px;
    height: 10vh;
    width: 100%;
    font-size: 1em;
    border-radius: 12px;
    margin-top: 14px;
    outline: 0;
}
.feedback__form > .feedback__ratingno {
    position: relative;
    top: -14px;
    font-size: 1.4em;
    left: 4px;
}
.feedback__form > textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
}

.feedback__form > .feedback__button {
    background-color: rgba(var(--accent), 0.9);
    border-radius: 8px;
    padding: 6px 40px;
    margin: 20px 0px;
}

.feedback__form > .feedback__button:hover {
    background-color: rgba(var(--accent), 0.7);

}

@media only screen and (max-width: 1300px) {
    .feedback__form > textarea {
        height: unset;
    }
}

@media only screen and (max-width: 900px) {
    .feedback__form > textarea {
        height: 150px;
    }
}

/* feedback component styles END */

/* menu component styles */
.menu__grid {
    margin-top: 30px;
    height: calc(100vh - 280px);
}

.menu__grid__card {
    height: calc(33.34% - 0px);
    opacity: 0.85;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px 20px;
    border: solid 1px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.5);
    overflow: hidden;
}

.menu__grid__card:nth-child(1)
{
    opacity: 0.95;
    background: rgb(0,255,241);
    background: linear-gradient(166deg, rgb(0, 228, 216) 0%, rgb(195, 222, 255) 100%);
}
.menu__grid__card:nth-child(2)
{
    background: rgb(255,227,0);
    background: linear-gradient(166deg, rgba(255,227,0,1) 0%, rgba(255,160,103,1) 100%);
}
.menu__grid__card:nth-child(3)
{
    background: rgb(58,124,223);
    background: linear-gradient(166deg, rgba(58,124,223,1) 0%, rgba(17,26,113,1) 100%);
}
.menu__grid__card:nth-child(1)
{
    opacity: 0.95;
    background: rgb(0,255,241);
    background: linear-gradient(166deg, rgb(0, 228, 216) 0%, rgb(195, 222, 255) 100%);
}
.menu__grid__card:nth-child(2)
{
    background: rgb(255,227,0);
    background: linear-gradient(166deg, rgba(255,227,0,1) 0%, rgba(255,160,103,1) 100%);
}
.menu__grid__card:nth-child(3)
{
    background: rgb(58,124,223);
    background: linear-gradient(166deg, rgba(58,124,223,1) 0%, rgba(17,26,113,1) 100%);
}

.menu__mealname {
    font-size: 2em;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans';
}

.menu__card {
    display: inline-block;
    width: calc(50% - 10px);
    backdrop-filter: blur(3px);
    overflow-x: hidden;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 6px;
    margin: 10px 5px;
    padding: 10px;
    text-transform: capitalize;
    box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.4);
    font-family: 'Open Sans';
    text-align: center;
}

.menu__card > span {
    display: block;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 0.9em;
    opacity: 0.9;
    margin-bottom: 5px;
}

.menu__card > span::after {
    width: 100%;
    height: 1px;
    content: "";
    display: block;
    position: relative;
    top: 0px;
    margin: 4px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.icon {
    transform: scale(6);

    float: right;
    position: relative;
    top: 80px;
    left: -50px;
    opacity: 0.2;
}

.icon--moon {
    left: -35px;
}


@media only screen and (max-width: 900px)
{
    .menu__card {
        height: 150px;
    }

    .menu__grid__card {
        height: max-content;
    }

    .menu__grid {
        height: max-content;
    }
}