.review_card {
  width: 97%;
  height: 100px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
}
.menu_grid {
  margin-top: 5%;
  min-height: 90%;
}

#card5 {
  overflow-y: scroll;
}

#card5 > h2 {
  position: sticky;
  top: 2%;
  z-index: 9999;
}

.size {
  font-size: 1rem;
}

.font-bold {
  font-weight: 550;
  text-align: start;
  font-size: 1.2em;
  min-height: 80px;
  width: 98%;
  outline: none;
  overflow-y: scroll;
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  border: solid 2px rgba(255, 255, 255, 0.6);
  padding: 8px 8px 8px 18px;
  border-radius: 12px;
  outline: none;
  text-align: left;
  font-weight: 400;
}

.size {
  font-size: 1.5em;
}

.ratingno {
  position: relative;
  top: -8px;
  font-size: 1em;
  left: 4px;
}

@media only screen and (max-width: 550px) {
  .size {
    font-size: 1.5rem;
  }
}
