@import "~light-icons/dist/light-icon.css";

  /* orange */
  /* --accent: 255, 61, 12; */
  /* green */
  /* --accent: 0, 200, 33; */
  /* blue */
  /* --accent: 0, 96, 206; */
  /* yellow */
  /* --accent: 232, 232, 0; */
  /* red */
  /* --accent: 238, 14, 14; */
  /* --accent: 235, 50, 50; */
  /* --backgroundImg: url("./grapes.jpg") */
  /* color: rgb(235, 50, 50); */

*::-webkit-scrollbar {
  display: none;
}



/* Hide scrollbar for IE and Edge */
* {
  user-select: none;
  -ms-overflow-style: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  width: 100vw;
  overflow: auto;
}

#dashboard-wrapper {
  height: 100%;
  width: 100%;
}

#messImg-wrapper {
  /* background-image: var(--backgroundImg); */
  /* background-size: cover; */

  height: 100vh;
  width: 40vw;
  margin-left: 60vw;

  transform: rotate(20deg) scale(1.4) translateY(25px) translateX(25px);
}

#messImg-wrapper > div {
  /* background: linear-gradient(
    124deg,
    rgba(var(--accent), 0.6) 0%,
    rgba(var(--accent), 0.4) 30%,
    rgba(80, 19, 0, 0.295) 100%
  ); */
  height: 100%;
  backdrop-filter: saturate(1) brightness(1.1);
  width: 100%;
}

@media only screen and (max-width: 1300px) {
  #messImg-wrapper {
    height: 100vh;
    display: none;
    position: fixed;
  }

  body {
    padding-bottom: 20px;
    height: max-content;
    background-size: cover;
    background-attachment: fixed;
  }
}

#cardgrid {
  display: grid;
  margin: 30px 0px;
  height: calc(100vh - 60px);
  min-height: max-content;

  width: 55vw;
  margin-left: calc(45vw - 30px);
  /* border: solid; */
  /* border-color: green; */
  position: absolute;
  z-index: 10;

  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

#card1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

#card2 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

#card3 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}
#card4 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  margin-top: 10px;
  display:grid ;
}


.staff__cardGrid > #card3 {
  height: 35%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

.staff__cardGrid > #card5 {
  height: calc(65% - 40px);
  position: relative;
  top: calc(35% + 20px);
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

@media(max-width:900px) {
  .staff__cardGrid > #card5 {
    top: 0px;
  }

  .staff__cardGrid > #card3 {
    height: max-content;
  }
  .staff__cardGrid > #card5 {
    height: max-content;
  }
}

.cardgrid__card {
  background-color: rgba(255, 255, 255, 0.246);
  background: linear-gradient(
    124deg,
    rgba(255,255,255, 0.45) 0%,
    rgba(255,255,255, 0.25) 50%,
    rgba(255,255,255, 0.05) 100%
  );

  box-shadow: 2px 1px 20px -2px rgba(0, 0, 0, 0.15);

  border-radius: 40px;
  backdrop-filter: blur(20px);
  /* border: solid; */
  text-align: left;
  margin: 10px 10px;
  font-family: 'Roboto';
  /* padding: 20px 20px; */
  padding: 40px 40px;
  color: rgba(41, 41, 41, 0.678);
}

.cardgrid__card > h2 {
  padding-bottom: 20px;
}

@media(max-width:500px){
    #card4{
      margin:10px;
    }
}
@media only screen and (max-width: 1500px) {
  #cardgrid {
    width: 60vw;
    margin-left: calc(40vw - 20px);
  }
}

@media only screen and (max-width: 1300px) {
  #messImg-wrapper {
    transform: rotate(0deg) scale(1) translateY(0px) translateX(0px);
    /* transform: none; */
  }
}
@media only screen and (max-width: 1300px) {
  #cardgrid {
    padding: 10px 0px;
    width: 90vw;
    margin-left: 5vw;
    top: 100px;
    height: calc(100vh - 120px);
  }

  .cardgrid__card {
    overflow: scroll;
  }
}

@media only screen and (max-width: 900px) {
  body {
    height: unset;
    overflow: visible;
    padding-bottom: 30px;
  }
  
  #messImg-wrapper {
    position: sticky !important;
    top:0vh;
  }

  #cardgrid {
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 100%;
    position: relative;
    padding: 10px 0px;
    width: 100vw;
    height: max-content;
    margin-left: 0;
    margin-bottom: 30px;
    top: -20px;
  }

  .cardgrid__card {
    grid-row: span 1 !important;
    grid-column: 1 / span 1 !important;
  }
}


.dashboard__title__wrapper {
  /* border: solid; */
  width: max-content;
  position: absolute;
  top: calc(50vh - 140px);
  left: 50px;
}

.dashboard__title__wrapper > div:nth-child(1) {
  font-size: 148px;
  font-family: 'Satisfy';
  /* font-family: 'Sacramento'; */
  font-family: 'Parisienne';
  /* font-family: 'Dancing Script'; */
  /* font-family: 'Lato'; */
  
  background: linear-gradient(124deg, rgba(var(--accent),1) 0%, rgba(var(--accent),0.9) 53%, rgba(var(--accent),1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 7px;
  /* color: rgba(0, 0, 0, 0.7); */
}

.dashboard__title__wrapper > div:nth-child(2) {
  font-size: 20px;
  /* color: rgba(var(--accent), 0.8) */
  /* border-top: solid 1px rgba(0, 0, 0, 0.5); */
  padding: 20px 20px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  /* width: 80%; */
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.15);
}

.dashboard__title__wrapper > div:nth-child(2) > div {
  /* display: inline-block; */
  float: right;
  position: relative;
  top: -12px;
}

.logoutButton {
  /* color: rgba(255,255,255, 0.9); */
  /* background-color: rgba(var(--accent), 1); */
  color: rgba(var(--accent), 0.8);
  /* font-size: 60px; */
  border-radius: 50%;
  padding: 3px;
  transform: scale(1.5);
  float: right;
}

@media only screen and (max-width: 1500px) {
  .dashboard__title__wrapper > div:nth-child(1) {
    font-size: 110px;
  }
}

@media only screen and (max-width: 1300px) {
  .dashboard__title__wrapper {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }

  .dashboard__title__wrapper > div:nth-child(1) {
    width: 100%;
    color: rgba(255, 255, 255, 1);
    padding: 8px 0;
    text-align: center;
    font-size: 40px;

    background: rgba(var(--accent), 0.9);
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: unset;
  }

  .dashboard__title__wrapper > div:nth-child(2) {
    width: 100%;
    /* text-align: center; */
    font-size:14px;
    box-shadow: none;
  }

  .dashboard__title__wrapper > div:nth-child(2) > div {
    top: -16px;
  }

  .logoutButton {
    transform: scale(1.3);
  }
}