@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

.staffbox2 {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 18%;
  font-size: 62.5%;
  font-family: "Walter Turncoat", cursive;
  font-weight: 800;
}
.button-modal {
  height: 60%;
  width: 35%;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(49, 49, 49);
  background-color: rgba(0, 0, 0, 0.246);
  background: linear-gradient(
    124deg,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0.17) 50%,
    rgba(0, 0, 0, 0.25) 100%
  );
  border-radius: 10px;
  backdrop-filter: blur(20px);
  outline: none;
}

.button-modal:hover {
  background-color: rgb(245, 245, 244, 0.6);
}

.modal {
  background-color: rgba(0, 0, 0, 0.246);
  background: linear-gradient(
    124deg,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0.17) 50%,
    rgba(0, 0, 0, 0.25) 100%
  );
  border-radius: 40px;
  backdrop-filter: blur(20px);
  height: 75%;
  width: 85%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  font-family: "Open Sans";
}

.modal-button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  height: 7%;
  width: 10%;
  background-color: rgba(59, 59, 59, 0.246);
  background: linear-gradient(
    124deg,
    rgba(226, 221, 221, 0.08) 0%,
    rgba(167, 165, 165, 0.17) 50%,
    rgba(99, 99, 99, 0.25) 100%
  );
  backdrop-filter: blur(20px);
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  color: aliceblue;
  font-size: 1.1rem;
  border: 1px solid rgb(241, 106, 129);
  background-color: rgb(241, 106, 129);
  transition: 0.1s;
}

.modal-button:hover {
  background-color: transparent;
}
.tabpanel {
  position: absolute;
  height: 80%;
  width: 100%;
  top: 15%;
}
.floatr {
  opacity: 0.85;
  border-radius: 12px;

  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  height: 50%;
}

.floatr:nth-child(1) {
  opacity: 0.95;
  background: rgb(0, 255, 241);
  background: linear-gradient(
    166deg,
    rgb(0, 228, 216) 0%,
    rgb(195, 222, 255) 100%
  );
  position: absolute;
  width: 30%;
  left: 3%;
}
.floatr:nth-child(2) {
  background: rgb(255, 227, 0);
  background: linear-gradient(
    166deg,
    rgba(255, 227, 0, 1) 0%,
    rgba(255, 160, 103, 1) 100%
  );
  position: absolute;
  left: 35%;
  width: 30%;
}
.floatr:nth-child(3) {
  background: rgb(58, 124, 223);
  background: linear-gradient(
    166deg,
    rgba(58, 124, 223, 1) 0%,
    rgba(17, 26, 113, 1) 100%
  );
  position: absolute;
  width: 30%;
  left: 67%;
}

.box_grid {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  float: left;
  top: 20%;
}

.style-button {
  position: relative;
  top: 2%;
}
.menu_card {
  display: inline-block;
  width: calc(50% - 10px);
  backdrop-filter: blur(3px);
  overflow-x: hidden;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 6px;
  text-transform: capitalize;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.4);
  font-family: "Open Sans";
  text-align: center;
  position: relative;
  margin: 10px 5px;
  padding: 10px;
}

.menu_card > span {
  display: block;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 0.9em;
  opacity: 0.9;
  margin-bottom: 5px;
}

.menu_card > span::after {
  width: 100%;
  height: 1px;
  content: "";
  display: block;
  position: relative;
  top: 0px;
  margin: 4px 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.form {
  position: absolute;
  height: 70%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.textfield {
  height: 80%;
  top: 20%;
}

.button-meal {
  position: absolute;
  top: 55%;
  background: rgb(224, 78, 78);
}

.cardHeading {
  font-size: 2em;
  font-weight: 400;
  font-family: "Open Sans";
  position: sticky;
  top: 2%;
}

@media only screen and (max-width: 1000px) {
  .staffbox2 {
    min-height: 100%;
    overflow-y: scroll;
  }
  .button-modal {
    width: 30%;
    position: absolute;
    bottom: 4%;
    height: 10%;
  }
  .modal {
    min-height: 100%;
    min-width: 100%;
    overflow: scroll;
    position: relative;
    overflow-y: scroll;
  }
  .modal-button {
    width: 20%;
    position: sticky;
    top: 90%;
    background-color: rgba(59, 59, 59, 0.246);
    background: linear-gradient(
      124deg,
      rgba(226, 221, 221, 0.08) 0%,
      rgba(167, 165, 165, 0.17) 50%,
      rgba(99, 99, 99, 0.25) 100%
    );
    backdrop-filter: blur(20px);
    font-size: 1.5rem;
    height: 7%;
    border: 1px solid rgb(165, 164, 164);
  }
  .box_grid {
    min-height: 100%;
  }

  .floatr:nth-child(1) {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;
    height: 40%;
  }
  .floatr:nth-child(2) {
    width: 90%;
    top: 32%;
    left: 50%;
    height: 40%;
    transform: translateX(-50%);
  }
  .floatr:nth-child(3) {
    width: 90%;
    top: 80%;
    left: 50%;
    height: 40%;
    transform: translateX(-50%);
  }
}
